* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "caveat";
    src: url(Caveat-Regular.ttf);
}

:root {
    --primary-color: #1877f2;
    --secondary-color: #00a884;
    --tertiary-color: #161823;
    --text-color: rgb(77, 77, 77);
    --background-color: #e4e6eb;
    --hijau-cerah: #25d366;
    --hunmerah :#EC255A;
    --hunputih: #FAEDF0;


}

body {
    background-color: #F0F2F5;
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    width: 100%;
    height: 50px;
    /* background-color: var(--hunmerah); */
    background-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
}
.head .logoKopline a {
    line-height: 40px;
    text-decoration: none;
    font-size: 2rem;
    font-family: "caveat";
    color: var(--hunmerah);
    cursor: pointer;
}
.head .assetKopline svg {
    line-height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.main-content {
    width: 100%;
}
.main-content .content {
    display: none;
}
.main-content .content.on-tab {
    display: block;
}

.homeUsaha {
    width: 100%;
    height: 300px;
    padding: 0 10px;
    background-image: url('aku.png');
    background-size: cover;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
}

.namaUsaha {
    padding: 5px 0;
    display: flex;
    gap: 5px;
    
}
.namaUsaha .detailUsaha svg {
}
.namaUsaha .detailUsaha p {
    line-height: 18px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 11px;
    color: var(--tertiary-color);
    cursor: pointer;
}
.homeSaldo {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}
.homeSaldo p {
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    color: #F0F2F5;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.main-content .content .container {
    height:50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: white;

}
.container .menu {
    padding: 7px 10px;
    font-size: 13px;
    border-radius: 20px;
    background-color: #F0F2F5;
    color: var(--tertiary-color);
    font-weight: 600;
    cursor: pointer;
}

.container .menu.aktif {
    background-color: var(--hunmerah);
    color: #F0F2F5;
}

.main-content .content .content-menu {
    display: none;
}
.main-content .content .content-menu.aktif {
    display: block;
}

.main-content .content .content-menu 
.menu-tambah h1 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.main-content .content .content-menu 
.menu-tambah p {
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 0, 0);
}

.main-content .content .content-menu 
.menu-tambah .form {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.main-content .content .content-menu 
.menu-tambah .form input {
    padding: 13px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: capitalize;
}

.main-content .content .content-menu 
.menu-tambah .form #button {
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.menu-nasabah {
    width: 100%;
    padding: 7px 3px;
}

.menu-nasabah:hover {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.nasabah2 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nasabah2 .container2 {
    display: flex;
    gap: 10px;
    align-items: center;
}


.nasabah2 .container2 .foto-profil2 img {
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.nasabah2 .container2 .pelanggan2 {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
.nasabah2 .container2 .pelanggan2 .nama2 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--tertiary-color);
}
.nasabah2 .container2 .pelanggan2 .alamat2 {
    font-size: .7rem;
    color: var(--tertiary-color);
    
}
.nasabah2 .container2 .pelanggan2 .tanggal2 {
    font-size: .5rem;
    color: var(--secondary-color);
}


.nasabah2 .target2 {
    display: flex;
    align-items: center;
    gap: 7px;
}

.nasabah2 .target2 .angsuran2 {
    width: 65px;
    height: 20px;
    line-height: 20px;
    color: #F0F2F5;
    background-color: #A74D92;
    border-radius: 3px;
    font-size: .7rem;
    font-weight: 600;
    text-align: center;
}
.nasabah2 .target2 .sobekan2 {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: var(--tertiary-color);
    color: #F0F2F5;
    font-weight: 600;
    border-radius: 50%;
    font-size: .7rem;
}

.content-menu .menu-monitor {
    padding: 10px;
}
.content-item {
    width: 100%;
    height: 100px;
    background-color: white ;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    'target libur baru'    'storting murni drop'    ;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}
.item {
    overflow: hidden;
}
.target { grid-area:  target; }
.target .p1-target {
    text-align: start;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #050505;
}
.target .p2-target {
    text-align: start;
    font-size: 12px;
    font-weight: 600;
    color: purple;
}


.libur { grid-area:  libur; }
.libur .p1-libur {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #050505;
}
.libur .p2-libur {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: red;
}

.baru { grid-area:  baru; }
.baru .p1-baru {
    text-align: end;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #050505;
}
.baru .p2-baru {
    text-align: end;
    font-size: 12px;
    font-weight: 600;
    color: #0866FF
}

.storting{ grid-area:  storting; }
.storting .p1-storting{
    text-align: start;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #050505;
}
.storting .p2-storting{
    text-align: start;
    font-size: 12px;
    font-weight: 600;
    color: purple;
}

.murni {
    grid-area:  murni;
}
.murni .p1-murni {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #050505;
}
.murni .p2-murni {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-color);
}

.drop {
    grid-area:  drop;
    
}
.drop .p1-drop {
    text-align: end;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #050505;
}
.drop .p2-drop {
    text-align: end;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
}



.footer {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    
}
.footer .btn-click {
    padding: 5px 10px;
    color: #050505;
    stroke: #050505;
    fill: white;
    font-size: 12px;
    cursor: pointer;
}
.footer .btn-click:hover {
    background-color: #F0F2F5;
    border-radius: 10px;
}
.svgSatu {
    width: 30px;
}
.footer .btn-click.warna {
    fill: var(--hunmerah);
    color: var(--hunmerah);
    stroke: none;
    font-weight: 600;
}
